.gallery-section__container {
  height: 100%;
}

.container_background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_background-gallery {
  background-image: url('../img/birmingham-museums-gallery.png');
}

.container-gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 87px;
  padding-bottom: 72px;
}

.text_color_white {
  color: #fff;
}

.title-gallery_margin {
  margin-bottom: 25px;
}

.form-gallery__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.legend {
  margin-bottom: 9px;
  font-size: 17px;
}

.choices[data-type*=select-one] .choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  padding-bottom: 0;
  line-height: 2;
  font-size: 16px;
}

.choices__inner {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
}

.is-open .choices__inner {
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list {
  padding: 0;
}

.choices__list--dropdown {
  background-color: transparent;
  border-radius: 6px;
  color: #999999;
  white-space: nowrap;
}

.choices__item .choices__item--choice {
  border: 1px solid #999999;
}

.choices__list--dropdown .choices__item {
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 20px;
  font-size: 16px;
}

.choices__list--dropdown .choices__item:not(:last-of-type) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #666666;
  color: #fff;
}

.choices[data-type*=select-one]:after {
  height: 7px;
  width: 12px;
  border: none;
  background-image: url('../img/arrow-select-filter.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -2.5px;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}

.modal-window {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  width: 55%;
  height: 50%;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-box-shadow: 0px 0px 36px 36px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 36px 36px rgba(0, 0, 0, 0.25);
}

.gallery-modal-image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-window-active {
  overflow: hidden;
}

.modal-window__block-image {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.modal-window__block-description {
  width: 57%;
  background-color: #fff;
  padding-top: 119px;
  padding-right: 39px;
  padding-bottom: 50px;
  padding-left: 53px;
}

.modal-window__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.34;
  margin-bottom: 35px;
}

.modal-window__wrapper-text {
  height: 100%;
  overflow: auto;
  padding-right: 14px;
}

.modal-window__span-2 {
  display: block;
  font-size: 16px;
}

.modal-window__span-3 {
  display: block;
  font-size: 12px;
  color: #969696;
}

.modal-window__text-description {
  position: relative;
  font-size: 16px;
}

.modal-window__btn-close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  background-image: url('../img/btn-close-modal.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text_weight_600 {
  font-weight: 600;
}

.link-authorization {
  position: relative;
  color: #c283f3;
}

.link-authorization:focus {
  outline: 2px solid #7943a4 !important;
  outline-offset: 4px;
}

.link-authorization::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #9d5cd0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.link-authorization:hover::after {
  opacity: 1;
}

.link-authorization:active {
  color: #7943a4;
  outline: none;
}

.link-authorization:active::after {
  background-color: #7943a4;
}

.gallery-section__block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery-section__block-images {
  position: relative;
  max-width: 72%;
  min-width: 0;
  height: 100%;
  padding-top: 16px;
  overflow: hidden;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.bottom-layer-modal-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.body_position-relative {
  position: relative;
}

.swiper-btn-next,
.swiper-btn-prev {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

.swiper-btn-prev__icon__background,
.swiper-btn-next__icon__background {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.swiper-btn-prev__icon__border,
.swiper-btn-next__icon__border {
  -webkit-transition: stroke 0.3s;
  -o-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

.swiper-btn-prev:focus .swiper-btn-prev__icon__border,
.swiper-btn-next:focus .swiper-btn-next__icon__border {
  stroke: #7943a4;
}

.swiper-btn-prev:hover .swiper-btn-prev__icon__background,
.swiper-btn-next:hover .swiper-btn-next__icon__background {
  fill: #9d5cd0;
}

.swiper-btn-prev:active .swiper-btn-prev__icon__background,
.swiper-btn-next:active .swiper-btn-next__icon__background {
  fill: #7943a4;
}

.swiper-btn-prev:active .swiper-btn-prev__icon__border,
.swiper-btn-next:active .swiper-btn-next__icon__border {
  stroke: #d1a9f0;
}

.pagination {
  width: inherit;
  color: #fff;
}

.swiper-navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
  padding-left: 5px;
}

.pagination,
.swiper-btn-prev {
  margin-right: 19px;
}

.gallery-section__swiper-container {
  height: 750px;
  outline: none;
}

.gallery-section__form-container {
  width: 25%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.text-gallery {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 22%;
  margin-top: -120px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.gallery-image {
  max-height: 100%;
}

.modal-window_opacity-1 {
  opacity: 1;
}

.wrapper-gallery-image {
  position: relative;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper-gallery-image::after {
  content: '';
  position: absolute;
  width: 84%;
  height: 84%;
  top: 8%;
  left: 8%;
  background-image: url('../img/gallery-image-hover.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.wrapper-gallery-image:hover::after {
  opacity: 1;
}

.wrapper-gallery-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.wrapper-gallery-image:active::before {
  opacity: 1;
}

.swiper-slide-gallery {
  height: calc((100% - 50px) / 2);
}

.title_line-height {
  line-height: 1;
}