.main {
  padding-top: 100px;
}

.title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section {
  margin-bottom: 80px;
}

.section-hero {
  position: relative;
}

.wrap-burger-menu {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: calc(100% + 100px);
  padding-bottom: 52px;
  padding-top: 98px;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-transition: visibility 0.4s, -webkit-transform 0.4s;
  transition: visibility 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, visibility 0.4s;
  transition: transform 0.4s, visibility 0.4s;
  transition: transform 0.4s, visibility 0.4s, -webkit-transform 0.4s;
}

.wrap-burger-menu-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: initial;
}

.button:focus {
  outline: none;
}

.btn-burger-menu {
  z-index: 20;
  -webkit-transition: background-image 0.2s, opacity 1.5s, visibility 1.5s;
  -o-transition: background-image 0.2s, opacity 1.5s, visibility 1.5s;
  transition: background-image 0.2s, opacity 1.5s, visibility 1.5s;
}

.wrapper-form__btn-search,
.btn-burger-menu {
  cursor: pointer;
}

.btn-burger-menu,
.wrapper-form__btn-search {
  display: none;
}

.wrap-burger-menu__nav {
  display: block;
  margin-bottom: auto;
}

.nav-list-burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-list-burger {
  line-height: 62px;
}

.nav-list-burger:focus {
  outline: none;
}

.nav-burger__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 60px;
  padding-left: 0;
}

.button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 17px 35px;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  color: #9d5cd0;
  -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #d1a9f0;
  border-radius: 100px;
  opacity: 0;
}

.button:hover {
  background-color: #9d5cd0;
  color: #fff;
}

.button:active::before {
  opacity: 1;
}

.button:hover {
  background-color: #9d5cd0;
  color: #fff;
}

.button:active {
  background-color: #7943a4;
  color: #fff;
}

.button:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 50%;
  top: 25%;
  left: 15%;
  border: 2px solid #9d5cd0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.button:focus::after {
  opacity: 1;
}

.burger-menu-button {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0;
  padding: 10px 92px 10px 106px;
  font-weight: 600;
  color: #fff;
  background-image: url('../img/icon-personal-account.svg');
  background-repeat: no-repeat;
  background-position: left 86px top 22px;
}

.title_color_white,
.nav_color_white {
  color: #fff;
}

.wrapper-form-active {
  width: 28%;
}

.wrapper-form__form-active::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.wrapper-form__btn-search-active {
  background-position: left 1px top 11px;
}

.container_padding {
  padding-top: 139px;
  padding-bottom: 122px;
}

.container_position {
  position: relative;
}

.swiper-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.swiper-hero {
  -webkit-animation: pulse 15s linear alternate infinite;
  animation: pulse 15s linear alternate infinite;
}

.swiper-slide_background-1 {
  background-image: url('../img/birmingham-museums-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide_background-2 {
  background-image: url('../img/birmingham-museums-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide_background-3 {
  background-image: url('../img/birmingham-museums-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.10);
  }

  to {
    transform: scale(1.20);
  }
} 

/* @-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  50% {
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
  }

  75% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  to {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  50% {
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
  }

  75% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  to {
    -webkit-transform: scale(1.20);
    transform: scale(1.20);
  }
} */

.section-hero__block-text {
  position: relative;
  margin-bottom: 92px;
  z-index: 3;
  width: 597px;
}

.section-hero__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: #ffffff;
}

.section-hero__paragraph {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.section-hero__button {
  position: relative;
  z-index: 5;
  padding: 22px 33px;
  font-weight: 700;
  font-size: 18px;
  background: #9d5cd0;
  border: 3px solid #9d5cd0;
  border-radius: 100px;
  color: #fff;
  -webkit-transition: border 0.3s, background-color 0.3s;
  -o-transition: border 0.3s, background-color 0.3s;
  transition: border 0.3s, background-color 0.3s;
  cursor: pointer;
  outline: none;
}

.section-hero__button:hover {
  border: 3px solid #d1a9f0;
}

.section-hero__button:focus {
  border: 3px solid #7943a4;
}

.section-hero__button:active {
  background: #7943a4;
  border: 3px solid #d1a9f0;
}